.git/
.github/

node_modules
.gitignore

tsconfig.json
tsconfig.server.json
jsconfig.json
webpack.config.js
vuetify.options.js
download-swagger.js
package.json
package-lock.json
yarn.lock
coverage/

# .nuxt/
.nuxt/dist
.nuxt/nitro

.next/


dist/
www/

*.scss
*.css


src/apis/
cordova/

*.json

.pages/
android/
ios/
out/

!.storybook/

public/